[submodule "runtime"]
	path = runtime
	url = https://github.com/Genesis-Quant/runtime.git
[submodule "backend"]
	path = backend
	url = https://github.com/Genesis-Quant/backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/Genesis-Quant/frontend.git
